Makefile
.codelite
.ctagsd

VaultGears.workspace
Encryption/Encryptor.txt
Encryption/Encryptor.mk
Encryption/Encryption.txt
Encryption/Encryption.project
Encryption/Encryption.mk
Encryption/Debug/test.cpp.o.d
Encryption/Debug/test.cpp.o
Encryption/Debug/main.cpp.o.d
Encryption/Debug/main.cpp.o
Encryption/Debug/Encryptor.exe
Encryption/Debug/Encryption.exe
Encryption/Debug/.d
Encryption/compile_flags.txt
Decryptor/Decryptor.txt
Decryptor/Decryptor.project
Decryptor/Decryptor.mk
Decryptor/Debug/main.cpp.o.d
Decryptor/Debug/main.cpp.o
Decryptor/Debug/Decryptor.exe
Decryptor/Debug/.d
Decryptor/compile_flags.txt
