Makefile
.codelite
.ctagsd


Encryption/Debug/*
VaultGears.workspace
Encryption/compile_flags.txt
Encryption/Encryptor.txt
Encryption/Encryptor.mk
Encryption/Encryption.txt
Encryption/Encryption.project
Encryption/Encryption.mk


Encryption/EncryptorAndDecryptor.mk
Encryption/EncryptorAndDecryptor.txt
